*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*gallery*/
.container-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "img1 img2 img3 img3 img3"
    "img1 img2 img3 img3 img3"
    "img4 img4 img3 img3 img3"
    "img4 img4 img3 img3 img3"
    "img6 img6 img5 img5 img5"
    "img6 img6 img5 img5 img5"
    ;
    gap: 0.3em;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-1{
    grid-area: img1;
}
.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}
.img-6{
    grid-area: img6;
}
.img:hover{
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter .4s;
}

/*light box*/
.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
}
.img-show{
    height: 80%;
    display: block;
    object-fit: cover;
    transform: scale(0);
    transition: transform .2s .4s;
}
.show{
    transform: scale(1);
}
.copy{
    position: fixed;
    color: #fff;
    bottom: 2.5rem;
}
.bx.bx-x{
    position: absolute;
    color: #fff;
    top: 1.5rem;
    right: 2rem;
    font-size: 2.3rem;
    cursor: pointer;
}
.bx.bx-left-arrow-alt{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 2rem;
    font-size: 2.3rem;
    cursor: pointer;
}
.bx.bx-right-arrow-alt{
    position: absolute;
    color: #fff;
    top: 50%;
    right: 2rem;
    font-size: 2.3rem;
    cursor: pointer;
}

/*js*/
.move{
    transform: translate(0);
}

@media screen and (max-width: 700px){
    .img-show{
        width: 85%;
    }
    .copy{
        bottom: 1.25rem;
    }
    .bx.bx-x{
        top: 0.75rem;
        font-size: 1.15rem;
    }
}